<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIExpensesTracker"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
         </activity>

        <activity
            android:name=".expensesManagerModule.TaxLimitActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".expensesManagerModule.ExpensesManagerActivity" />
        </activity>
        <activity
            android:name=".expensesManagerModule.AnalyticalChartActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".expensesManagerModule.ExpensesManagerActivity" />
        </activity>
        <activity
            android:name=".expensesManagerModule.BudgetPlanActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".expensesManagerModule.ExpensesManagerActivity" />
        </activity>
        <activity
            android:name=".expensesManagerModule.AddExpenseActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:largeHeap="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".expensesManagerModule.ExpensesManagerActivity" />
        </activity>
        <activity
            android:name=".expensesManagerModule.ExpensesManagerActivity"
            android:exported="false" />
        <activity
            android:name=".taxationModule.TaxationQuizActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".taxationModule.TaxationActivity" />
        </activity>
        <activity
            android:name=".taxationModule.TaxationChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".taxationModule.TaxationActivity" />
        </activity>
        <activity
            android:name=".taxationModule.TaxationCalculationActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".taxationModule.TaxationActivity" />
        </activity>
        <activity
            android:name=".taxationModule.TaxationLearningActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".taxationModule.TaxationActivity" />
        </activity>
        <activity
            android:name=".taxationModule.TaxationActivity"
            android:exported="false" />
        <activity
            android:name=".userManagementModule.DeleteProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.ChangePasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.UpdateEmailActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.UpdateProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.UploadProfilePicActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.ForgotPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userManagementModule.UserProfileActivity" />
        </activity>
        <activity
            android:name=".userManagementModule.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".userManagementModule.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".userManagementModule.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing">

        </activity>
    </application>

</manifest>